@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F69021;
}

/*Primary Stages*/
body {
  font-family: "Hind Siliguri", sans-serif;
}

/* basic Work */
.select-secondary {
  --tw-border-opacity: 1;
  border-color: #f69021 !important;
}
.mobile-generate-button{
  display: none;
}

.select-secondary:focus {
  border-color: #00ff00;
  /* Change to the desired border color */
}

.card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  justify-content: space-between;
}

/* Login Page */
.hero {
  display: block !important;
}

.hero-content {
  margin: auto;
  margin-top: 60px !important;
}

/* Home Page */
.card {
  padding: 0px !important;
  text-align: left !important;
  cursor: pointer;
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 1.3rem) !important;
  gap: 0.5rem;
}

/* Active button Color */
.active-color {
  background: #f69021 !important;
  color: white !important;
}

/* Custom Price Details */
.custom-price-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 20px;
}

.price-container {
  margin-bottom: 150px;
}

.login-button {
  background: var(--primary) !important;
  border: none;
  color: white;
}

.custom-price-container{
  margin-top: 20px;
}

/* Order Now // Book Now */

/* Mobile Responsive */
@media (max-width: 900px) {
  .text-4xl {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .my-4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .btm-nav a {
    border-right: 1px solid rgb(197, 196, 196);
    border-top: 1px solid rgb(197, 196, 196);
  }

  .btm-nav button {
    border-right: 1px solid rgb(197, 196, 196);
    border-top: 1px solid rgb(197, 196, 196);
  }

  .btm-nav-label {
    font-size: 12px;
  }

  /* Login Page Design */ .card {
    padding: 0px !important;
    text-align: left !important;
    cursor: pointer;
    width: 100%;
    margin: auto;
    box-shadow: none;
  }
  .login-cotainer .card-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0px !important;
    gap: 0.5rem;
  }
  .border-bottom {
    border-bottom: 1px dashed rgb(42, 41, 41);
  }
  /* Mobile Header */
  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    box-shadow: 0 20px 25px -5px rgb(186 186 186 / 10%), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    width: 100%;
    z-index: 99999999999;
  }
  .custom-price-container{
    margin-top: 100px;
  }
  /* Input Field */
  input{
    border-radius: 2px!important;
  }
  label{
    text-align: left;
    font-size: 12px!important;
  }
  /* Individual Packages */
  .gap-8 {
    gap: 1rem;
  }
  /* Customizer */
  .lg-generate-button{
    display: none;
  }
  .mobile-generate-button{
    display: block;
  }
  .home-container {
    margin-bottom: 90px;
  }

  .price-container {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .order-responsive {
    width: 100% !important;
  }

  /* Custom Price Details */
  .custom-price-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
  }
}